circle {
  fill: #1E90FF;
}

text {
  fill: #d9d9d9;
  font-size: 20px;
}

line {
  fill: #1E90FF;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #1C1C1C;
  color: #d9d9d9;
  font-family: Helvetica;
}

.data {
  margin: auto;
  width: 80%;
}

table {
  width: 90%;
  margin: 0;
  border: 1px solid #1E90FF;
  border-radius: 5px;
}

th {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #1E90FF;
  width: 24%;
  font-size: 15px;
  text-align: center;
}

tr {
  margin: 0;
  border: 1px solid #d9d9d9;
}

td {
  padding: 5px;
  width: 30%;
  font-size: 15px;
  text-align: center;
}

.inputs {
  margin-top: 20px;
}

input {
  margin-right: -4px;
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  outline: none;
  font-size: 15px;
}

.btn-add {
  margin-right: -4px;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  width: 4%;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
}

.btn-add:hover {
  cursor: pointer;
  opacity: 0.2;
}

#picture {
  margin: auto;
  width: 600px;
  height: 600px;
}

.btn {
  display: block;
  margin: 20px auto;
  padding: 15px;
  background-color: #0583ff;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  outline: none;
}

.btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 3px #d9d9d9;
          box-shadow: 0px 0px 5px 3px #d9d9d9;
}
